<module>
    <manifestVersion>1.0.0</manifestVersion>
    <symbolicName>beam-globalbedo-aerosol</symbolicName>
    <name>BEAM GlobAlbedo Aerosol</name>
    <version>1.0_4.8</version>

    <!-- TODO - As needed, adapt metadata elements here -->
    <description>BEAM GlobAlbedo Aerosol</description>
    <vendor>Brockmann Consult GmbH</vendor>
    <contactAddress>Max Planck Str.2, 21502 Geesthacht (Germany)</contactAddress>
    <copyright>(C) 2010 by Brockmann Consult GmbH</copyright>
    <url>http://envisat.esa.int/beam</url>
    <licenseUrl>http://www.gnu.org/licenses/gpl.html</licenseUrl>
    <changelog>
        <![CDATA[ ]]>
    </changelog>

    <categories>Processor,VISAT</categories>

    <dependency>
        <module>beam-core</module>
    </dependency>
    <dependency>
        <module>beam-gpf</module>
    </dependency>
    <dependency>
        <module>beam-envisat-reader</module>
    </dependency>
    <dependency>
        <module>beam-spot-vgt-reader</module>
    </dependency>
    <dependency>
        <module>beam-visat</module>
        <optional>true</optional>
    </dependency>
    <dependency>
        <module>CreateElevationBand</module>
    </dependency>
    <dependency>
        <module>beam-meris-brr</module>
    </dependency>
    <dependency>
        <module>beam-meris-aatsr-synergy-preprocessing</module>
    </dependency>
    <dependency>
        <module>beam-meris-aatsr-synergy-cloud-screening</module>
    </dependency>

    <extension point="beam-ui:actions">
        <action>
            <class>org.esa.beam.visat.actions.ActionGroup</class>
            <parent>tools</parent>
            <id>globalb</id>
            <text>GlobAlbedo</text>
        </action>
        <action>
            <class>org.esa.beam.visat.actions.DefaultOperatorAction</class>
            <parent>globalb</parent>
            <id>MainAerosolOp</id>
            <helpId>aerosol</helpId>
            <operatorName>MasterOp</operatorName>
            <text>AerosolOp...</text>
            <dialogTitle>AerosolOp</dialogTitle>
            <targetProductNameSuffix>_AerosolOp</targetProductNameSuffix>
        </action>

    </extension>


    <extension point="beam-ui:helpSets">
        <helpSet>
            <parent>beam-help</parent>
            <path>doc/help/__artifactId__.hs</path>
        </helpSet>
    </extension>

</module>